<div class="top-container" id="menubar">
    <div class="intro"> Hello, i am <label>Vasudev Rao</label></div>
</div>
<div class="href-container" [ngClass]="menuOnTop ? 'show-top' : ''" id="menubar">
    <div class="tab" *ngFor="let list of linkList"><label>{{list}}</label></div>
    <div class="hamburger"  (click)="toggleDiv()"><img class="image-class" height="100%" src="https://vrao-jpg.github.io/portfolio/assets/images/hamburger.png"></div>
    <div  [@showDropDown]="animationState" class="listItem">
        <div class="item" *ngFor="let list of linkList">{{list}}</div>
    </div>
</div>