<div style="position:relative" id="Contact">
<canvas #canvasEl [width]="windowWidths" height="200" >
</canvas>
<div class="contact-container">
    <label class="contact">CONTACT</label>
    <label class="message">Have a question ?</label>
    <div class="table">
        <div class="row">
          <label class="leftName">Name</label><div class="rightName"><input placeholder="Name" type="text"></div>
        </div>
        <div class="row">
          <label class="leftName">Email</label><div class="rightName"><input placeholder="Email" type="text"></div>
        </div>
        <div class="row">
            <label class="leftName">Message</label><div class="rightName"><textarea placeholder="Message" rows="4"></textarea></div>
        </div>
        <div style="display:flex;justify-content:flex-end;margin-top: 10px;"><button>SUBMIT</button></div>
    </div>
</div>
</div>