<div class="skillsContainer">
<label>SKILLS</label>
<div class="row">
    <div class="rowChild">
      <div class="html"><img class="image" src="../../assets/images/html5.png"></div>
      <div class="html"><img class="image"  src="../../assets/images/angular.png"></div>
    </div>
    <div class="rowChild">
      <div class="html"><img class="image" src="../../assets/images/csspic.png"></div>
      <div class="html"><img class="image" src="../../assets/images/vuepic.png"></div>
    </div>
</div>
</div>